-#  This file is app/views/recipes/index.html.haml
%h1 Search Recipes
= form_tag search_path, :method => :get do
%table#ingredients_form
  %tbody
    %tr
      %td= Ingredient
      %td= %input{:type=>"text" :name=>"ingredient_1"}
    %tr
      %td
      %td= %button{:value=>"Add another"}
    %tr
      %td
      %td= %input{:type=>"submit" :name=>"submit" :value=>"Submit"}
