-#  This file is app/views/recipes/show.html.haml
%table
    %tr
        %td
            Title
        %td= @recipe.title
    %tr
        %td
            Cook Time
        %td= @recipe.cook_time
    %tr
        %td
            Main Ingredient
        %td= @recipe.main_ingredient
    %tr
        %td
            Side Ingredient
        %td= @recipe.side_ingredient
    %tr
        %td
            Directions
        %td= @recipe.directions